.gradient{
    background: linear-gradient(180deg, rgba(0, 76, 174, 0) 0%, rgba(0, 76, 174, 0.46) 40.25%, rgba(0, 76, 174, 0) 70.27%);
  }
  
  /* .Inno-bg {
    background-image: url("/images/home/Innovation/Container.svg");
  } */
  .Inno-bg {
    background-image: url("/images/home/innovation/container.svg");
    background-size: cover;
  }
  
  