/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
} */
body{
    background-color: white;
}
.aboutContainer{
    background-image: url("../../../public/images/home/bg.svg");

}
/* .section2{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
flex-direction: row;
gap:50px;
    margin-top: 60px;
    flex-wrap: wrap;
    padding-left: 150px;
    padding-right: 150px;
}

.section2-content{
    margin-top: -60px;
    display: flex;
    flex-direction: column;
    gap:20px;
} */

.section2 {
    width: 100%;
    margin-top: 60px;
  }
  