/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-figtree;
  color: #fff;
  background: white;
  background-size: fill;
  overflow-x: hidden;
}

.full-width {
  @apply xl:max-w-screen-3xl md:w-5/6 md:mx-auto px-4 items-center max-md:mx-4;
}

.btn-blue {
  @apply xl:py-3 xl:px-8 px-6 py-2 bg-[#0B43A3] text-white text-center cursor-pointer rounded-3xl;
}

.hero-bg {
  background-image: url("/images/home/bg2.png");
  /* background-position: center; Center the image within the container */
  background-repeat: no-repeat; /* Prevents repeating the image */
  background-color: black;
  /* padding-left: "-32px";  */
}

.text-color {
  color: #909dc1;
}

.test-bg {
  background-image: url("/images/home/testimonial/bgg.png");
  border-radius: 10px;
}

.test-gradient {
  background: linear-gradient(135deg, rgb(23, 32, 48), rgb(30, 40, 60));
}

.card-bg {
  background-image: url("/images/home/whyT2C/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  isolation: isolate;
  border-radius: 10px;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: white;
}

::-webkit-scrollbar-track {
  background: #4e4e4e;
}

@layer components {
  .section-width {
    @apply xl:max-w-screen-2xl md:w-5/6 mx-auto px-4 items-center;
  }
  .section-padding {
    @apply py-14 md:py-20 lg:py-24;
  }
  .padding-top {
    @apply pt-14 md:pt-20 lg:pt-24;
  }
  .padding-bottom {
    @apply pb-14 md:pb-20 lg:pb-24;
  }
  .margin-top {
    @apply mt-14 md:mt-20 lg:mt-24;
  }
  .margin-bottom {
    @apply mb-14 md:mb-20 lg:mb-24;
  }
  .btn-primary {
    @apply px-4 py-2 md:px-6 md:py-3 rounded-lg bg-[#E07E27]   text-white text-sm md:text-base text-center cursor-pointer;
  }
  .btn-secondary {
    @apply px-6 py-3 rounded-full border-2 border-white bg-white text-blue-600 font-medium text-base;
  }
  .btn-black {
    @apply inline-block px-6 py-2 rounded-full bg-black text-white text-sm md:text-base;
  }
  .sub-heading {
    @apply text-red-600 text-sm lg:text-base xl:text-lg font-normal;
  }
  .section-width2 {
    @apply w-full max-w-screen-xl mx-auto px-4;
  }
}

@layer base {
  h1 {
    @apply 2xl:text-[64px] xl:text-[54px] lg:text-[48px] md:text-[36px] text-[28px]  md:tracking-[-1.92px] tracking-[-0.96px] leading-tight xl:leading-tight font-semibold 2xl:leading-tight;
  }

  h2 {
    @apply 2xl:text-[40px] xl:text-[36px] lg:text-[32px] md:text-[28px] text-2xl md:tracking-[-0.96px] font-semibold 2xl:leading-tight;
  }

  h3 {
    @apply 2xl:text-[48px] xl:text-4xl lg:text-3xl md:text-2xl text-xl md:tracking-[-1.28px] tracking-[-0.64px] font-bold 2xl:leading-[120%];
  }

  h4 {
    @apply 2xl:text-2xl md:text-xl text-lg font-semibold xl:leading-tight md:leading-tight leading-tight;
  }

  h5 {
    @apply md:text-2xl text-xl font-medium leading-tight;
  }

  h6 {
    @apply lg:text-xl md:text-lg text-base font-medium leading-[110%];
  }

  p {
    @apply 2xl:text-lg md:text-base text-sm;
    /* @apply 6xl:text-3xl 4xl:text-2xl xl:text-lg   md:text-base text-sm; */
  }
}

/* HTML: <div class="parallelogram"></div> */
.parallelogram {
  --p: 90px; /* control the shape (can be percentage) */
  height: 200px;
  aspect-ratio: 5/2;
  clip-path: polygon(0 0, calc(100% - var(--p)) 0, 100% 100%, var(--p) 100%);
  background: #d95b43;
}
